body {
  background: rgb(182, 204, 228);
}
.big-image {
  background-image: url("../images/20130828_185326_HDR.jpg");
  background-size: 1000px;
  background-position: 200px -50px;
}
.main-content {
  background: #FEFEFE;
}
@media (max-width: 600px) {
  #forkme_banner {
    right: 0px;
  }
}
#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}